<?xml version="1.0"?>
<config>
    <modules>
        <EM_Cloudzoom>
            <version>1.1.2</version>
        </EM_Cloudzoom>
    </modules>
	<global>
		<helpers>
            <em_cloudzoom>
                <class>EM_Cloudzoom_Helper</class>
            </em_cloudzoom>
			<catalog>
				<rewrite>
					<image>EM_Cloudzoom_Helper_Image</image>
				</rewrite>
			</catalog>
        </helpers>
		<models>
		    <em_cloudzoom>
		        <class>EM_Cloudzoom_Model</class>
		    </em_cloudzoom>
		</models>
		<blocks>
            <em_cloudzoom>
                <class>EM_Cloudzoom_Block</class>
            </em_cloudzoom>
        </blocks>
		<!--<rewrite>
			<magentoteam_cloudzoom_widget>
				<from><![CDATA[#/admin/widget/#]]></from>
				<to>/cloudzoom/widget/</to>
			</magentoteam_cloudzoom_widget>
        </rewrite>-->
	</global>
	<frontend>
        <layout>
            <updates>
                <em_cloudzoom module="em_cloudzoom">
                    <file>em_cloudzoom.xml</file>
                </em_cloudzoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <em_cloudzoom/>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
    	</acl>
    </adminhtml>
    <default>
    	<em_cloudzoom>
	    	<general>
	    		<enable>1</enable>
	    		<position>right</position>
	    		<show_title>1</show_title>
	    		<title_opacity>50</title_opacity>
	    		<lens_opacity>50</lens_opacity>
	    		<tint_color></tint_color>
	    		<tint_opacity>50</tint_opacity>
	    		<big_image_width>800</big_image_width>
	    		<big_image_height>800</big_image_height>
				<fix_width>295</fix_width>
				<fix_height></fix_height>
				<fix_thumb_width>90</fix_thumb_width>
				<fix_thumb_height></fix_thumb_height>
	    	</general>
    	</em_cloudzoom>
    </default>
</config>