<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 *  
 *
 * @package     EM_Slideshowwidget
 * @copyright   Copyright (c) 2009 Quick Solution LT
 * 
 */
-->
<config>
    <modules>
        <EM_Slideshowwidget>
            <version>0.0.1</version>
        </EM_Slideshowwidget>
    </modules>
    <global>
        <helpers>
            <slideshowwidget>
                <class>EM_Slideshowwidget_Helper</class>
            </slideshowwidget>
        </helpers>
        <blocks>
             <slideshowwidget>
                <class>EM_Slideshowwidget_Block</class>
             </slideshowwidget>
        </blocks>
        <models>
            <slideshowwidget>
                <class>EM_Slideshowwidget_Model</class>
            </slideshowwidget>
        </models>
    </global>
	<frontend>
        <layout>
            <updates>
                <slideshowwidget>
                    <file>slideshowwidget.xml</file>
                </slideshowwidget>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Cms>
                    <files>
                        <default>Mage_Cms.csv</default>
                    </files>
                </Mage_Cms>
            </modules>
        </translate>
        <layout>
            <updates>
                <cms>
                    <file>cms.xml</file>
                </cms>
				<slideshowwidget>
					<file>em_slideshowwidget.xml</file>
				</slideshowwidget>
            </updates>
        </layout>
        <cms>
            <browser>
                <dirs>
                    <exclude>
                        <catalog_dir regexp="0">catalog</catalog_dir><!-- use regexp="0" or "1" to override -->
                        <downloadable>downloadable</downloadable>
                        <flex_dir>flex</flex_dir>
                        <import>import</import>
                        <tmp>tmp</tmp>
                        <js>js</js>
                        <css>css</css>
                    </exclude>
                    <include></include>
                </dirs>
                <extensions>
                    <allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                    </allowed>
                    <image_allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                    </image_allowed>
                    <media_allowed>
                        <flv>1</flv>
                        <swf>1</swf>
                        <avi>1</avi>
                        <mov>1</mov>
                        <rm>1</rm>
                        <wmv>1</wmv>
                        <mp3>1</mp3>
                    </media_allowed>
                </extensions>
                <window_width>1000</window_width>
                <window_height>600</window_height>
                <resize_width>100</resize_width>
                <resize_height>75</resize_height>
            </browser>
        </cms>
    </adminhtml>
    <admin>
        <routers>
            <slideshowwidget>
                <use>admin</use>
                <args>
                    <module>EM_Slideshowwidget</module>
                    <frontName>slideshowwidget</frontName>
                </args>
            </slideshowwidget>
        </routers>
    </admin>
    
</config>
