<?xml version="1.0"?>
<config>
    <modules>
        <EM_Em0057settings>
            <version>0.1.0</version>
        </EM_Em0057settings>
    </modules>
	 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <em0057>
                                            <title>Image Configure</title>
                                        </em0057>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <frontend>
        <routers>
            <em0057settings>
                <use>standard</use>
                <args>
                    <module>EM_Em0057settings</module>
                    <frontName>em0057settings</frontName>
                </args>
            </em0057settings>
        </routers>
        <layout>
            <updates>
                <em0057settings>
                    <file>em0057settings.xml</file>
                </em0057settings>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<em0057settings>
				<use>admin</use>
				<args>
					<module>EM_Em0057settings</module>
					<frontName>em0057settings</frontName>
				</args>
			</em0057settings>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Em0057settings>
							<title>Em0057settings Module</title>
							<sort_order>10</sort_order>
						</EM_Em0057settings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0057settings>
					<file>em0057settings.xml</file>
				</em0057settings>
			</updates>
		</layout>
		<events>
			<controller_action_postdispatch_adminhtml_system_config_save>
				<observers>
					<config_after_save>
						<class>EM_Em0057settings_Model_Observer</class>
						<method>afterConfigSave</method> 
					</config_after_save>
				</observers>
			</controller_action_postdispatch_adminhtml_system_config_save>		
		</events>
    </adminhtml>   
    <global>
        <models>
            <em0057settings>
                <class>EM_Em0057settings_Model</class>
                <resourceModel>em0057settings_mysql4</resourceModel>
            </em0057settings>
            <em0057settings_mysql4>
                <class>EM_Em0057settings_Model_Mysql4</class>
                <entities>
                    <em0057settings>
                        <table>em0057settings</table>
                    </em0057settings>
                </entities>
            </em0057settings_mysql4>
        </models>
        <resources>
            <em0057settings_setup>
                <setup>
                    <module>EM_Em0057settings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </em0057settings_setup>
            <em0057settings_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </em0057settings_write>
            <em0057settings_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </em0057settings_read>
        </resources>
        <blocks>
            <em0057settings>
                <class>EM_Em0057settings_Block</class>
            </em0057settings>
        </blocks>
        <helpers>
            <em0057settings>
                <class>EM_Em0057settings_Helper</class>
            </em0057settings>
        </helpers>
    </global>
	<default>
		<em0057>
			<image_category>
				<grid_thumb_width>135</grid_thumb_width>
				<grid_thumb_height>135</grid_thumb_height>
				<listing_thumb_width>135</listing_thumb_width>
				<listing_thumb_height>135</listing_thumb_height>
			</image_category>
			<image_related>
				<related_width>135</related_width>
                <related_height>135</related_height>
			</image_related>
			<image_crossell>
                <crosssell_width>135</crosssell_width>
				<crosssell_height>135</crosssell_height>
			</image_crossell>
			<image_upsell>
				<upsell_width>135</upsell_width>
                <upsell_height>135</upsell_height>
			</image_upsell>
			<image_widget>
                <widget_width>135</widget_width>
				<widget_height>135</widget_height>
			</image_widget>
			<image_featured>
				<featured_cate_width>200</featured_cate_width>
                <featured_cate_height>140</featured_cate_height>
			</image_featured>
			<column_count>
				<cat_one_column>4</cat_one_column>
				<cat_two_columns>3</cat_two_columns>
				<cat_three_columns>2</cat_three_columns>
				<default_cat_column_count>3</default_cat_column_count>
			</column_count>
		</em0057>
	</default>
</config>